.study-scroll-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.full-width-study-img {
  width: 100%;
  height: auto;
  display: block;
}

.footer-text {
  color: #fff;
  font-family: serif;
  font-size: 2.2rem;
}
.resume-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
}

/* Hide scrollbar for a clean look */
.study-scroll-container::-webkit-scrollbar {
  display: none;
}
