@font-face {
  font-family: "Hellishy";
  src: url("./assets/fonts/Hellishy.woff2") format("woff2");
}

@font-face {
  font-family: "NeuePlak";
  src: url("./assets/fonts/NeuePlak.woff2") format("woff2");
}

body {
  margin: 0;
  background: radial-gradient(circle, #4a0404 0%, #000000 100%);
  color: white;
  font-family: "NeuePlak", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
